
:root {
    /* Seren Notes brand colors */
    --bg-selection: #0066FF26;
    --text-title: #333333;
    --text-caption: #828282;
    --text-placeholder: #b5bbd3;
    --text-disabled: #e0e0e0;
    --text-link-default: #0066FF;
    --text-link-hover: #3385FF;
    --text-link-pressed: #0052CC;
    --text-link-disabled: #E6F0FF;
    --icon-primary: #333333;
    --icon-secondary: #59647a;
    --icon-disabled: #e0e0e0;
    --icon-on-toolbar: #ffffff;
    --line-border: #bdbdbd;
    --line-divider: #1F232923;
    --line-default: #f3f4f6;
    --line-on-toolbar: #4f4f4f;
    --line-card: #1F23291E;
    --fill-toolbar: #003380;
    --fill-default: #0066FF;
    --fill-hover: #3385FF;
    --fill-pressed: #0052CC;
    --fill-active: #E6F0FF;
    --fill-list-hover: #1F23290F;
    --fill-list-active: #f9fafd;
    --content-blue-400: #0066FF;
    --content-blue-300: #3385FF;
    --content-blue-600: #0052CC;
    --content-blue-700: #003380;
    --content-blue-800: #002966;
    --content-blue-900: #001A4D;
    --content-blue-100: #E6F0FF;
    --content-blue-200: #0066FF80;
    --content-blue-50: #F2F7FF;
    --content-on-fill-hover: #0066FF;
    --content-on-fill: #ffffff;
    --content-on-tag: #4f4f4f;
    --bg-body: #ffffff;
    --bg-base: #F7F8FC;
    --bg-mask: #0000008C;
    --bg-tips: #e0f8ff;
    --bg-brand: #003380;
    --function-error: #fb006d;
    --function-error-hover: #ff4f8a;
    --function-error-opacity: rgba(251, 0, 109, 0.1);
    --function-warning: #ffd667;
    --function-warning-hover: #ffdf8f;
    --function-warning-opacity: rgba(255, 214, 103, 0.1);
    --function-success: #00CC66;
    --function-success-hover: #00E673;
    --function-success-opacity: rgba(0, 204, 102, 0.1);
    --function-info: #0066FF;
    --tint-purple: #E8E0FF;
    --badge-purple: #AB8DFF;
    --tint-pink: #FFE7FD;
    --badge-pink: #FF8EF5;
    --tint-red: #FFE7EE;
    --badge-red: #FF85A9;
    --tint-lime: #F5FFDC;
    --badge-lime: #C6EC41;
    --tint-green: #DDFFD6;
    --badge-green: #74F37D;
    --tint-aqua: #DEFFF1;
    --badge-aqua: #40F0D1;
    --tint-blue: #E1FBFF;
    --badge-blue: #00C8FF;
    --tint-orange: #FFEFE3;
    --badge-orange: #FFBC7E;
    --tint-yellow: #FFF2CD;
    --badge-yellow: #FCD86F;
    --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    --scrollbar-thumb: #bdbdbd;
    --scrollbar-track: #e5e5e5;
    --gradient1: linear-gradient(233deg, #34BDAF 0%, #B682D5 100%);
    --gradient2: linear-gradient(180deg, #4CC2CC 0%, #E17570 100%);
    --gradient3: linear-gradient(180deg, #AF70E1 0%, #ED7196 100%);
    --gradient4: linear-gradient(180deg, #A348D6 0%, #45A7DF 100%);
    --gradient5: linear-gradient(56.2deg, #5749CA 0%, #BB4A97 100%);
    --gradient6: linear-gradient(180deg, #036FFA 0%, #00B8E5 100%);
    --gradient7: linear-gradient(38.2deg, #F0C6CF 0%, #DECCE2 40.4754%, #CAD3F9 100%);
    --new-gradient1: linear-gradient(180deg, #6DD5FF 0%, #D0A2FF 100%);
    --new-gradient2: linear-gradient(180deg, #D0A2FF 0%, #FF84BF 100%);
    --new-gradient3: linear-gradient(180deg, #FF84BF 0%, #FFDD7B 100%);
    --new-gradient4: linear-gradient(180deg, #FFDD7B 0%, #87FFAB 100%);
    --new-gradient5: linear-gradient(180deg, #89D7FE 0%, #7A81FF 100%);
    --new-gradient6: linear-gradient(180deg, #00B5FF 0%, #9225FF 100%);
    --new-gradient7: linear-gradient(180deg, #9327FF 0%, #E7348A 100%);
    --new-gradient8: linear-gradient(180deg, #E3006D 0%, #FFBD00 100%);
    --new-gradient9: linear-gradient(180deg, #FFBD00 0%, #00BC38 100%);
    --new-gradient10: linear-gradient(180deg, #1CF8E3 0%, #4B32FE 100%);
    --bg-header: #FFFFFFCC;
    --bg-footer: #FFFFFFCC;
    --note-header: #EDEFF3;
    --billing-primary: #8427e0;
    --billing-primary-hover: #9f3ae6;
    --ai-primary: #D08EED;
    --writer-placeholder: #007296;
    --z-ai-popover: 1300;
    /* component colors */
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --tooltip: 0 0% 9%;
    --tooltip-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 216 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 214, 7%, 43%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --placeholder: 213, 9%, 76%;
    --accent: 216, 14%, 14%, 0.06;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 153, 100%, 40%;
    --border: 216, 14%, 14%, 8%;
    --input: 216, 14%, 14%, 8%;
    --ring: 216 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --icon: 214, 7%, 43%;
    --selection: #E6F0FF;
    --button-disabled: 216, 12%, 83%;
    --secondary-background: #faf9fd;
    --input-background: #ffffff;
    /* !shadows */
    --shadows-sm: 0px 4px 20px 0px rgba(31, 35, 41, 0.10);
    --shadows-md: 0px 4px 32px 0px rgba(31, 34, 37, 0.12);
    --scrollbar-thumb: #d1d5db;
}
